h1 {
    color: red;
    margin-top: 1rem;
    text-align: center;
 
}

p{
    text-align: center;
    

}

input {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: medium;
}

h1, p, input {
    font-family: 'Courier New', Courier, monospace;
}
